@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
    /* Cor principal: */
    --azul-marinho: #003366; /* Uma cor sóbria e clássica que transmite confiança, tranquilidade e profissionalismo. Ideal para o branding e como cor base do site. */

    /* Cores secundarias: */
    --dourado: #FFD700; /* Para detalhes que tragam uma sensação de luxo e sofisticação, como botões, bordas e chamadas para ação. */
    --cinza-claro: #d3d3d3; /* Uma cor neutra e elegante para fundos e seções que precisam de suavidade, sem tirar o destaque das outras cores. */

    /* Cor de texto: */
    --cinza-escuro: #333333; /* Essencial para dar clareza, facilitar a leitura e criar contraste com as cores mais escuras. */

    /* Cores de apoio: */
    --bege-claro: #f5f5dc; /* Uma cor suave e aconchegante para dar uma sensação de acolhimento, ideal para fundos ou áreas com informações mais detalhadas. */

    /* Cores de destaque: */
    --turquesa-claro: #40e0d0; /* Uma cor vibrante que pode ser usada para destacar botões de ação (ex: "Reservar agora") ou links importantes. */
    --vermelho-escuro: #8b0000; /* Para criar contraste e destacar elementos urgentes ou promoções. */
    
    /* Cores de condições */
    --verde-sucesso: #28a745; /* É o tom mais comum em frameworks como Bootstrap. Passa confiança e é muito legível. */
    --vermelho-erro: #dc3545; /* Este é o par perfeito para o verde. É o tom clássico de erro. */

    /*
    Fundo do site: Branco ou Bege Claro.
    Cabeçalho e rodapé: Azul Marinho com textos em Branco ou Cinza Claro.
    Botões e elementos interativos: Dourado ou Turquesa Claro.
    Textos principais e descrições: Cinza Escuro.
    */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bege-claro);
    color: var(--cinza-escuro);
    font-family: 'Poppins', sans-serif;
    background: url('../assets/img/fundo4.jpg') center center fixed no-repeat;
    background-size: cover;
}

input {
    font-size: 14px;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.container {
    flex: 1;
}

.cabecalho {
    background-color: var(--azul-marinho);
    color: var(--cinza-claro);
    padding: 15px;
    display: flex;
    justify-content: space-between;

    & .titulo_nav {
        font-family: "Archivo Black", sans-serif;
        font-size: 24px;
    }

    & a {
        color: var(--dourado);
        text-decoration: none;
        transition: .1s ease-in-out;
    }

    & a:hover {
        /* text-decoration: underline; */
        text-shadow: 0 0 5px black;
    }

    & #navbarNav ul {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        padding: 0;
    }

    & #navbarNav ul li {
        margin: 0 15px;
    }
}

.formulario {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario form {
    width: 800px;
    height: 100%;
    margin: 70px 50px;

    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);

    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.271);
    text-align: center;

    & h1 {
        margin-top: 15px;
    }
}

/* Container que segura os campos */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas de tamanhos iguais */
    gap: 20px; /* Espaço entre os campos */
    padding: 20px;
    text-align: left;
}

/* Organização de cada rótulo e input */
.input-group {
    display: flex;
    flex-direction: column; /* Coloca o label acima do input */
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-group input, 
.input-group textarea {
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    width: 100%; /* Faz o input ocupar toda a largura da coluna */
    box-sizing: border-box; /* Garante que o padding não quebre a largura */
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.3);
}

.input-group input {
    border: 2px solid rgba(159, 159, 159, 0.164);
    transition: all 0.2s ease-in-out;
}

.input-group input:focus {
    border-color: var(--dourado);
    outline: none;
}

/* Ajuste para o Textarea não ficar pequeno demais */
.input-group textarea {
    height: 38px; /* Mesma altura dos inputs para alinhar */
    resize: vertical;
}

.btn-enviar {
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
    display: block;
    margin: 30px auto;
    background-color: var(--dourado);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    transition: .2s ease-in-out;
}

.btn-enviar:hover {
    cursor: pointer;
    background-color: white;
    /* border: 3px solid var(--dourado); */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}

#mensagem {
    margin: 20px 0;
    text-shadow: 0px 0px 10px gray;
}

.red-error {
    color: var(--vermelho-erro);
    font-weight: bold;
}

.green-sucess {
    color: var(--verde-sucesso);
    font-weight: bold;
}

footer {
    background-color: var(--azul-marinho);
    color: var(--cinza-claro);
    text-align: center;
    padding: 10px;

    & a {
        color: var(--dourado);
    }
}


/* CSS DO CONSULTAR.HTML */

.consulta {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}

.consulta .consultaForm {
    width: 800px;
    height: 100%;
    margin: 70px 50px;

    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);

    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;

    & h2 {
        margin: 20px;
    }

    & table {
        margin: 10px;
    }
}

.areaBusca {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#campoBusca {
    width: 90%;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

.btnBuscar {
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    display: block;
    background-color: var(--dourado);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    transition: .2s ease-in-out;
}

.btnBuscar:hover {
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}

.ctn-clientes {
    margin-bottom: 15px;

    & .btn-sm {
        background-color: var(--dourado);
        padding: 5px 10px;
        border-radius: 10px;
        color: var(--cinza-escuro);
        text-decoration: none;
    }
}

/* No seletor da tabela dentro de .consultaForm */
.consulta .consultaForm table {
    width: 95%; /* Ajuste para não colar nas bordas */
    margin: 20px auto;
    border-collapse: separate; /* Permite o espaçamento entre células */
    border-spacing: 0 5px;    /* 0 na horizontal, 5px na vertical */
}

.consulta .consultaForm table tbody tr {
    background: rgba(255, 255, 255, 0.3); /* Fundo leve para cada linha */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Sombra para dar profundidade */
}

.consulta .consultaForm table th, 
.consulta .consultaForm table td {
    padding: 10px 10px;
    text-align: center;
}

/* Responsividade: Para telas de celular, vira 1 coluna só */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}